<div id="terms">
<h1>Terms &amp; Conditions</h1>
<p>The Drink Doctor, Drink Doctor, Dr Drink, Drink Dr, Drinks Doctor and Booze Doctor are registered Trade Marks.</p>
<p>All transactions are entirely at our discretion. We are not obliged to provide a reason for non-service.</p>
<p>All drinks orders must be over £25 (not including cigarettes)</p>
<p>You must be at least 18 to purchase alcohol.</p>
<p>We will not serve you if we believe that alcohol will be passed to under 18&#8242;s.</p>
<p>We will not serve you if we believe you to be excessively drunk.</p>
<p>Drivers only carry £10 in change</p>
<p>Drivers will not leave the vehicle for security reasons</p>
<p>One person only to collect your delivery or driver is instructed to drive away</p>
<p>Do not ask driver for discount please make this clear to telephone operator and you will be advised of cheaper alternatives</p>
<p><span>*</span>We serve Central and south Manchester and Stockport if you fall outside our areas  and we CAN deliver you may be subject to a small charge which will be stated on the phone at the time of your order. E.g. (Altrincham = £4) Abuse of our staff will not be tolerated whether physical or verbal. For security reasons it may be necessary to record telephone calls.</p>
<p>Some personal details will be retained by our system (name, address, telephone numbers, date of birth and email address). Your card details are never stored electronically.</p>
<p>Drinkdoctor provides a safe environment for all personal details, operating under the 2004 Data Protection Act.</p>
<p>We reserve the right to use your details for updating you on our products and notifying you of any special offers or changes to our business. To be removed from this list, simply email us and we will remove your details from our database.</p>
<p>All card transactions are cleared using the Streamline Electronic Card Processing Platform. The card must be present at the delivery address.</p>
<p>These terms and conditions are subject to change at any time. Any such changes will be displayed on this page.</p>
</div>